.last-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.last-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center;
}

.last-image-placeholder {
  opacity: 1;
  -webkit-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}

.last-image-placeholder.fade {
  opacity: 0;
  pointer-events: none;
}
